@page
@model LMSModel
@{
    ViewData["Title"] = "LMS";
}


<!-- Required jQuery and jQuery UI Javascript references -->
<!-- jQuery UI CSS Reference -->
<!--
<script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
<script src="@Url.Content("~/lib/jquery-ui-1.12.1/jquery-ui.min.js")"></script>

<link href="@Url.Content("~/lib/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet"/>
<link href="@Url.Content("~/lib/jquery-ui-1.12.1/jquery-ui.structure.min.css")" rel="stylesheet"/>
<link href="@Url.Content("~/lib/jquery-ui-1.12.1/jquery-ui.theme.min.css")" rel="stylesheet"/>

<javascript>
   $.ajax({
    type: "POST",
    url: "/Receiver",
    data: $('#myForm').serialize(),
    datatype: "html",
    success: function (data) {
        $('#result').html(data);
    }
}); 
</javascript>
-->

@section Scripts {
<script type="text/javascript">
    $(document).ready(function(){
            //Your jQuery and DatePicker code here
         $('#date-picker').datepicker();
     });
</script>
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is the main LMS page, here we will be allowing both free-form editing, 
    and prepoluation using a number of test JSON from a database, or files.</p>

<form id="myForm">
    <div>
        @Html.Label("firstname","First Name" ) 
        @Html.TextBox("firstname", "Mike")
    </div>
    <div>    
        @Html.Label("lastname","Last Name") 
        @Html.TextBox("lastname", "Brind")
    </div>
    <div>    
        @Html.Label("dateofbirth","Date of Birth") 
        @Html.TextBox("dateofbirth", "Brind")
    </div>
    <div>    
        <!-- Examples of creating a Datepicker -->
        @Html.Label( "dateof", "Date of") 
        @Html.TextBox("date-picker", "2018/1/1", new { @class = "datepicker" })
    </div>
    
    <div>
        @Html.Label("Gender", "gender")
        @Html.RadioButton("gender", "male", true) Male
        @Html.RadioButton("gender", "female") Female
    </div>
</form>
<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409" 
        onclick="alert('hello world'); return false;">
    Trigger LMS
</a>

